<%- include('../partials/head.ejs') %>
<section class="container">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Société</th>
                <th>Email</th>
                <th>Code Client</th>
                <th id="sector-selector"><div class="field">
                    <label class="label">Secteur</label>
                    <div class="control">
                      <div class="select">
                        <select >
                          <option>Tous</option>
                          <% if (locals.allGroups && allGroups.length > 0) { %>
                           <% allGroups.forEach(group => { %>
                            <option value="<%= group.id %>"><%= group.name %></option>
                           <% }) %>
                          <% } %>
                        </select>
                      </div>
                    </div>
                  </div></th>
                <th>Inscription</th>
                <th><button id="ital-customer-filter" class="button is-small is-fullwidth is-primary ">OK</button></th>
            </tr>
        </thead>
        <tbody id="customer-list">
            <% customers.forEach(customer => { %>
                <tr>
                    <td><button class="js-modal-trigger button is-small is-fullwidth" data-target="mainmodal" data-customer-id="<%= customer.id %>">
                        <%= customer.firstname %> <%= customer.lastname %>
                                        </button>
                    </td>
                    <td><%= customer.company %></td>
                    <td><%= customer.email %></td>
                    <td><%= customer.codeital %></td>
                    <td class="has-text-centered"><%= customer.name_group_default.language[0]['_'].replace('Ital','').replace(/\s?\(.*?\)/g, '')%></td>
                    <td colspan="2"><%= customer.date_creation %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>
<%- include('../partials/foot.ejs') %>
