<%- include('../../partials/head.ejs') %>
<section>
  <h1 class="title">Clients Ital-Express</h1>
  <div class="table-container">
    <table class="table">
        <thead id="customerFilters">
            <tr>
              <th>
                <div class="field">
                  <label class="label">Société</label>
                  <div class="control">
                      <input class="input <%= locals.filters.company ? 'is-info' :'' %>" type="text" name="societe" placeholder="Filtrer" value="<%= locals.filters.company ? locals.filters.company : '' %>">
                  </div>
              </div>
              </th>
              <th>
                <div class="field">
                  <label class="label">Code client</label>
                  <div class="control">
                      <input class="input <%= locals.filters.code ? 'is-info' :'' %>" type="text" name="codeital" placeholder="Filtrer" value="<%= locals.filters.code ? locals.filters.code : '' %>">
                  </div>
              </div>
              </th>
              <th>
                <div class="field">
                <label class="label">Département</label>
                <div class="control">
                  <div class="select">
                    <select name="zipcode" class="<%= locals.filters.zipcode ? 'is-info' :'' %>">

                      <option <%= locals.filters.zipcode ? '' : 'selected' %> disabled>Filtrer</option>
                      <% if (user.permissions.includes("direction-italexpress") || user.permissions.includes("superadmin")) { %>
                      <% locals.allZipcodes.forEach(oneZipcode => { %>
                        <%# console.log(`local zip : ${locals.filters.zipcode} - item zip : ${oneZipcode.zipcode}`) %>
                       
                        <option 
                          value="<%= oneZipcode.zipcode %>" 
                          <%= locals.filters.zipcode == oneZipcode.zipcode ? 'selected' : '' %>>
                          <%= oneZipcode.zipcode %> <%= oneZipcode.name %>
                        </option>
                        
                      <% }) %>
                      <% }else{ %>
                        <% locals.userZipcodes.forEach(oneZipcode => { %>
                          <option 
                          value="<%= oneZipcode.zipcode %>" 
                          <%= locals.filters.zipcode == oneZipcode.zipcode ? 'selected' : '' %>>
                          <%= oneZipcode.zipcode %> <%= oneZipcode.name %>
                        </option>
                          <% }) %>
                        
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
              </th>
<% if (user.permissions.includes("direction-italexpress") || user.permissions.includes("superadmin")) { %>
              <th><%# 'user : ' + JSON.stringify(locals.user.permissions) %><div class="field">
                <label class="label">Secteurs</label>
                <div class="control">
                  <div class="select">
                    <select name="sector" class="<%= locals.filters.sector ? 'is-info' :'' %>">
                      <option <%= locals.filters.sector ? '' : 'selected' %> disabled>FIltrer</option>
                      <% locals.sectors.forEach(sector => { %>
                        <option value="<%= sector.id %>"><%= sector.name %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div></th>
              <% } %>
              
                <th>
                  <div class="field">
                    <label class="label">Nom</label>
                    <div class="control">
                      <input class="input <%= locals.filters.name ? 'is-info' :'' %>" type="text" name="nom" placeholder="Filtrer" value="<%= locals.filters.name ? locals.filters.name : '' %>">
                    </div>
                </div>
                </th>
               
                <th>
                  <div class="field">
                  <label class="label">email</label>
                  <div class="control">
                      <input class="input <%= locals.filters.email ? 'is-info' :'' %>" type="text" name="email" placeholder="Filtrer" value="<%= locals.filters.email ? locals.filters.email : '' %>">
                  </div>
              </div></th>
                <th>CA<br/><span class="is-size-7">Cette année</span>
                <div class="filter-order">
                  <div class="field">
                    <label class="radio">
                      <input type="radio" name="order" value="ASC" data-orderattribute="year_revenue">
                      Asc
                    </label>
                    <label class="radio">
                      <input type="radio" name="order" value="DESC" data-orderattribute="year_revenue">
                      Desc
                    </label>
                  </div>
                  
                </div>
                </th>
                
                <!-- <th>Inscription</th> -->
                <th><button id="ital-customer-filter" class="button is-small is-fullwidth is-primary " >OK</button>
                  <a href="http://localhost:3000/ital-clients" title="reset filters" id="ital-customer-filter-reset" class="button is-small is-fullwidth is-warning ">Clear</a>
                </th>
            </tr>
        </thead>
        <tbody id="customer-list">
            <% customers.forEach(customer => { %>
              <% let displayCustomer = false;
              if (user.permissions.includes("direction-italexpress") || user.permissions.includes("superadmin")) { 
                displayCustomer = true;
                }else 
                {
                  const zipcodesArray = locals.userZipcodes.map(entry => entry.zipcode); // Extract zipcodes

                if (zipcodesArray.includes(parseInt(customer.departement))) {
    displayCustomer = true;
}
                }%>
                <% if (displayCustomer) { %>
                  <tr>
                    <td><%# displayCustomer %><button class="js-modal-trigger open-customer-orders-modal button is-small is-fullwidth" data-target="mainmodal" data-customerid="<%= customer.id %>">
                      <i class="fa fa-eye is-pulled-left"></i>&nbsp;<%= customer.company ? customer.company :''%>
                                        </button>
                    </td>
                    <td class="is-size-7"><%= customer.codeital %></td>
                    <td><%= customer.departement%></td>
                    <% if (user.permissions.includes("direction-italexpress") || user.permissions.includes("superadmin")) { %>
                    <td class="has-text-centered is-size-7"><%= customer.sector %></td>
                    <% } %>
                    <td class="is-size-7"><%= customer.firstname %> <%= customer.lastname %></td>
                    <td class="is-size-7"><%= customer.email %></td>
                    <td class="has-text-right"><%= parseFloat(customer.year_revenue).toFixed(2) %></td>
                </tr>
                <% } %>
               
            <% }) %>
        </tbody>
    </table>
    <% if (customers.length < 1){%>
      <a href="http://localhost:3000/ital-clients" title="reset filters" class="button is-small is-fullwidth is-warning " >Aucun client trouvé : Retirer les filtres</a>
    <%}%>
    
  </div>
</section>
<%- include('../../partials/foot.ejs') %>