<%- include('../../partials/head.ejs') %>
        <section >
            <h1 class="title">Devis</h1>
           
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Société</th>
                    <th>email</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Détail</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <%# JSON.stringify(locals.quotations) %>
                <% if (locals.quotations && locals.quotations.length > 0) { %>
                 <% quotations.forEach(quotation => { console.log(JSON.stringify(quotation))
                    %>
                  <tr>
                    <td> <%= quotation.quotation.reference%></td>
                    <td><%= quotation.customer.firstname%> <%= quotation.customer.lastname%></td>
                    <td><%= quotation.customer.company%></td>
                    <td><%= quotation.customer.email%></td>
                    <td><%= quotation.quotation.quotation_date%></td>
                    <td><span class="tag has-text-dark" style="background-color: <%= quotation.quotation.status_color%>;"><%= quotation.quotation.status_name%></span></td>
                    <td><div class="expand"> <button class="button is-small is-fullwidth">Voir</button><table class="table">
                        <% quotation.products.forEach((product)=>{%>
                            <tr><td>
                        <%= product.product_name%></td><td> x <%= product.product_quantity%> </td><td><%=(product.unit_price_tax_excl * product.product_quantity).toFixed(2)%></td></tr>
                   <% })%>
                   </table>
                </div>
                        <%# JSON.stringify(quotation.products)%>
                        </td>
                    
                    <td class="has-text-right"><% let total_quotation = 0;
                        quotation.products.forEach((product)=>{
                            total_quotation += (product.unit_price_tax_excl * product.product_quantity);
                        });
                        %>
                        <%= total_quotation.toFixed(2)%> <span class="small"></span></td>
                    <td></td>
                  </tr>
                 <% }) %>
                <% } %>

            </tbody>
        </table>
        </section>
<%- include('../../partials/foot.ejs') %>  