<%- include('../../partials/head.ejs') %>
<% 
let totalQuotes = 0; 
let totalOrders = 0;

if (locals.quotations && locals.quotations.length > 0) { 
%>
    <% quotations.forEach(quotation => { %>
        <% quotation.products.forEach((product) => { %>
            <% totalQuotes += (product.unit_price_tax_excl * product.product_quantity); %>
            <% if (quotation.quotation.status === 7){%>
                <% totalOrders += (product.unit_price_tax_excl * product.product_quantity); %>
                <%}%>

        <% }) %>
    <% }) %>
<% } %>
        <section >
            <div class="columns">
                <h1 class="title column">Devis <span class="is-size-7">Secteurs : <%= locals.sectors %> </span></h1>
                <div class="column has-text-right">
                   <p> Total devis : <%= formatNumber(totalQuotes) %></p>
                   <p> Total Commandes : <%= formatNumber(totalOrders) %></p>
                   <hr>

                   <button id="filter-quotations-toggle" class="js-modal-trigger button is-inside" data-target="mainmodal" data-sector="<%= locals.user.sector%>"><i class="fas fa-filter"></i>&nbsp;Filtrer</button>
                </div>
            </div>
           
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Nom</th>
                    <th>Société</th>
                    <th>email</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Détail</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <%# JSON.stringify(locals.quotations) %>
                <% if (locals.quotations && locals.quotations.length > 0) { %>
                 <% quotations.forEach(quotation => { 
                    %>
                  <tr>
                    <td> 
                        <%= quotation.quotation.reference%>
                        </td>
                    <td><%= quotation.customer.firstname%> <%= quotation.customer.lastname%></td>
                    <td><%= quotation.customer.company%></td>
                    <td><%= quotation.customer.email%></td>
                    <td><%= quotation.quotation.quotation_date%></td>
                    <td><span class="tag has-text-dark" style="background-color: <%= quotation.quotation.status_color%>;"><%= quotation.quotation.status_name%></span></td>
                    <td ><button class="button is-small is-fullwidth js-modal-trigger" data-target="mainmodal" data-action="show-quote-detail" data-quoteid="<%= quotation.quotation.id %>">Voir</button>
                       
                        <%# JSON.stringify(quotation.products)%>
                        </td>
                    
                    <td class="has-text-right"><% let total_quotation = 0;
                        quotation.products.forEach((product)=>{
                            total_quotation += (product.unit_price_tax_excl * product.product_quantity);
                        });
                        %>
                        <%= total_quotation.toFixed(2)%> <span class="small"></span></td>
                    <td></td>
                  </tr>
                 <% }) %>
                <% } %>

            </tbody>
        </table>
        </section>
<%- include('../../partials/foot.ejs') %>  